.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fullWidth {
    width: 100%;
}

h2 {
    text-align: center;
}



input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


.section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: .5rem;
}

button:hover{
    background-color: #0056b3;
}

p {
    margin-top: 4rem;
    opacity: .5;
}

mat-icon {
    opacity: .8;
}